<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Planner</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">

</head>

<body>
    <%- include('partials/navbar') %>

    <!-- rest of the body -->
    <div class="container">
        <div class="section flow-text" id="header">
            <h1><%= inventory.taskName %></h1>
            <table class="responsive-table">
                <tr>
                    <th><h5><strong><u>Description:</strong></u></h5></th>
                    <td><h5><%= inventory.description %></h5></td>
                </tr>
                <tr>
                    <th><h5><strong><u>Category:</strong></u></h5></th>
                    <td><h5><%= inventory.categoryName %></h5></td>
                </tr>
                <tr>
                    <th><h5><strong><u>Task Date:</strong></u></h5></th>
                    <td><h5><%= inventory.taskDateClean %></h5></td>
                </tr>
                <tr>
                    <th><h5><strong><u>Start Time:</strong></u></h5></th>
                    <td><h5><%= inventory.startTimeClean %></h5></td>
                </tr>
                <tr>
                    <th><h5><strong><u>End Time:</strong></u></h5></th>
                    <td><h5><%= inventory.endTimeClean %></h5></td>
                </tr>      
                <tr>
                    <th><h5><strong><u>Location:</strong></u></h5></th>
                    <td><h5><%= inventory.location %></h5></td>
                </tr> 
            </table>
         </div>

        <div class="section" id="taskControls">
            <a class="btn-large waves-effect waves-light orange left modal-trigger" href="#taskEdit">
                <i class="material-icons right">edit</i>
                Edit
            </a>
            <a class="btn-large waves-effect waves-light red right" onclick="M.toast({html: 'Task deleted!'})" href="/tasks/<%= inventory.taskId %>/delete" %>>
                <i class="material-icons right">delete</i>Delete
            </a>
        </div>
        
        <div class="modal" id="taskEdit" tabindex="0">
            <div class="modal-content">
                <h3>Update task:</h3>
                <form method="post" action="/tasks/<%= inventory.taskId%>">
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="taskNameUpdate">Task Name</label>
                            <input type="text" name="taskName" id="taskNameUpdate" class="validate" data-length="32" value="<%= inventory.taskName %>" required>
                        </div>
                        <div class="input-field col s6">
                            <label for="descriptionUpdate">Description</label>
                            <input type="text" name="description" id="descriptionUpdate" placeholder="Enter your description here" class="validate" data-length="32" value="<%= inventory.description %>" required>
                        </div>
                    </div>    
                
                    <div class="row">        
                        <div class="input-field col s6">
                            <select type="number" id="categoryInput" name="category" required>
                                <option value="" disabled> Choose your category </option>
                                <% for (let i = 0; i < categorylist.length; i++) { %>
                                    <option value=<%=categorylist[i].categoryId %> 
                                        <% if (inventory.categoryId == categorylist[i].categoryId) { %> selected <% } %> ><%= categorylist[i].categoryName %></option>
                                <% } %>
                              </select>
                              <label for="categoryInput">Category:</label>
                        </div>
                    
                        <div class="input-field col s6">
                            Date:
                            <div class="input-field inline">
                                <input type="date" name="taskDate" id="dateUpdate" class="validate" data-length="32" value="<%= inventory.taskDateForms %>" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <label for="startTimeUpdate">Start Time</label>
                            <input type="time" name="startTime" id="startTimeUpdate" placeholder="" class="validate" data-length="32" value="<%= inventory.startTimeForms %>" required>
                        </div>

                        <div class="input-field col s6">
                            <label for="endTimeUpdate">End Time</label>
                            <input type="time" name="endTime" id="endTimeUpdate" placeholder="" class="validate" data-length="32" value="<%= inventory.endTimeForms %>" required>
                        </div>

                        <div class="input-field col s6">
                            Location: 
                            <div class="input-field inline">
                                <input type="text" name="location" id="locationUpdate" placeholder="New York City" class="validate" value="<%= inventory.location %>" data-length="32">
                            </div>
                        </div>    
                    </div>

                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light green" type="submit" onclick="M.toast({html: 'Task updated!'})">
                            <i class="material-icons right">done</i>
                            Save changes
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
                    </div>
                        
                </form>
            </div>
        </div>
        <br><br><br><br><br><br>
        <a class="waves-effect waves-light btn-large" href="/tasks" title="Go back!">
            <i class="material-icons left">arrow_back</i> Go back to planner
        </a>
    </div>
    <script src="/javascripts/materialize_autoinit.js"></script>
</body>
</html>