<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule Planner</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/stuffStyle.css">
    
</head>

<body>
    <%- include('partials/navbar') %>

    <!-- rest of the body -->
    <div class="container">
        <div class="section" id="taskList">
            <h1>Your schedule:</h1>
            <table class="responsive-table">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Task Date</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Location</th>
                        <th></th>
                    </tr>
                </thead>
            
                <tbody>
                    <% for (let i = 0; i < inventory.length; i++) { %> 
                    <tr>
                        <td><%= inventory[i].taskName %></td>
                        <td><%= inventory[i].description %></td>
                        <td><%= inventory[i].categoryName %></td>
                        <td><%= inventory[i].taskDateFormatted %></td>
                        <td><%= inventory[i].startTimeFormatted %></td>
                        <td><%= inventory[i].endTimeFormatted %></td>
                        <td><%= inventory[i].location %></td>
                        <td>
                            <a class="btn-small waves-effect waves-light" href=<%= "/tasks/" + inventory[i].taskId %> >
                                <i class="material-icons right">edit</i>Info/Edit</a>
                            <a class="btn-small waves-effect waves-light red" onclick="M.toast({html: 'Task deleted!'})" href="/tasks/<%= inventory[i].taskId %>/delete">
                                <i class="material-icons right">delete</i>Delete</a>
                        </td>    
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="section" id="addTasks">
            <h3>Add a task:</h3>
            <form id="addForm" method="post" action="/tasks">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="taskNameInput">Task Name:</label>
                        <input type="text" name="taskName" id="taskNameInput" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="descriptionInput">Description</label>
                        <input type="text" name="description" id="descriptionInput" placeholder="Enter your description here" class="validate" data-length="32" required>
                    </div>
                </div>    
                
                <div class="row">
                    <div class="input-field col s6">
                        <select id="categoryInput" name="category" required>
                            <option value="" disabled selected>Choose your category</option>
                            <% for (let i = 0; i < categorylist.length; i++) { %>
                                <option value=<%=categorylist[i].categoryId %>><%= categorylist[i].categoryName %></option>
                            <% } %>
                        </select>
                        <label for="categoryInput">Category:</label>
                    </div>

                    <div class="input-field col s6">
                        Date:
                        <div class="input-field inline">
                            <input type="date" name="taskDate" id="timeInput" class="validate" data-length="32">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="startTimeInput">Start Time:</label>
                        <input type="time" name="startTime" id="startTimeInput" placeholder="" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="endTimeInput">End Time:</label>
                        <input type="time" name="endTime" id="endTimeInput" placeholder="" class="validate" data-length="32" required>
                    </div>
                    <div class="input-field col s6">
                        Location: 
                        <div class="input-field inline">
                            <input type="text" name="location" id="locationInput" placeholder="New York City" class="validate" data-length="32">
                        </div>
                    </div>    
                </div>
                <button class="btn waves-effect waves-light" type="submit" onclick="M.toast({html: 'Task added!'})">
                    <i class="material-icons right">done</i>
                    Submit
                </button>
            </form>
        </div>

        <br><br>
        <a class="waves-effect waves-light btn-large" href="/" title="Go back!">
            Homepage
            <i class="material-icons right">home</i>
        </a>
    </div>

    <script src="/javascripts/materialize_autoinit.js"></script>
</body>
</html>